# Central Icon System license (https://www.npmjs.com/package/@central-icons-react/all)
CENTRAL_LICENSE_KEY=

# OpenPanel analytics (https://openpanel.dev)
OPENPANEL_CLIENT_ID=
OPENPANEL_CLIENT_SECRET=
